name: Build and Deploy Artifacts

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-github:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install project
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: pnpm run build

      - name: Generate Files
        run: |
          cd dist/
          echo "blacklist
          cache/
          data" > ./.gitignore
          echo '{"name":"innenu-private","type":"module"}' > ./package.json
          cp -r ../public .

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: deploy
          folder: dist

  deploy-server:
    runs-on: ubuntu-latest
    needs: deploy-github
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: deploy
          fetch-depth: 0

      - name: Configuration environment
        env:
          HOST: innenu.com
          SSH_PORT: ${{ secrets.SSH_PORT }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          echo "Host $HOST" >> ~/.ssh/config
          echo "  HostName $HOST" >> ~/.ssh/config
          echo "  Port $SSH_PORT" >> ~/.ssh/config
          echo "  User git" >> ~/.ssh/config
          echo "  IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config

          git config --global user.name 'Mr.Hope'
          git config --global user.email 'mister-hope@outlook.com'

      - name: Deploy
        run: |
          git push -f git@innenu.com:/www/wwwroot/innenu-service deploy
          ssh git@innenu.com "cd /www/wwwroot/innenu-service && git reset --hard HEAD"
