name: Build and Linter Test

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: pnpm

      - name: Install project
        run: pnpm install --frozen-lockfile

      - name: Test Build
        run: pnpm build

      - name: Linter Test
        run: pnpm lint:check
